<p>
  I'm a master's student at the
  <a href="https://saids.ustc.edu.cn/main.htm">School of Artificial Intelligence and Data Science</a>,
  University of Science and Technology of China (USTC), supervised by Prof. Jiangtao Wang (王江涛)
  and co-supervised by <a href="https://walker1126.github.io/">Assoc. Prof. Di Yang (杨棣)</a>.
</p>
<p>
  My research interests include <strong>motion generation</strong>, multimodal generative models,
  and 3D scene reconstruction and editing.
</p>
<p>
  I received my bachelor's degree from the
  <a href="https://eie.bjtu.edu.cn/">School of Electronic and Information Engineering</a>,
  Beijing Jiaotong University (BJTU).
</p>
